html {
    height: 100%;
    overflow:hidden;
  }
body{
    margin:0;
    padding:0;
      perspective: 1px;
      transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family:cursive;
    
}  
h1 {
    font-size: 350%;
 }
 p {
    font-size: 140%;
    line-height: 150%;
    color: rgb(91, 4, 94);
  }
  .slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .9);
      transform-style: inherit;
  }
  img {
    position: absolute;
    top: 50%;
    left: 35%;
    width: 320px;
    height: 240px;
    transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
    padding: 10px;
    border-radius: 5px;
    background: rgba(252, 127, 2, 0.7);
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  img:last-of-type {
    transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
  }
  .title {
    width: 50%;
    padding: 5%;
    border-radius: 50px;
    background: rgb(210, 243, 120);
    /* background: url(1.jpg); */
    box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  }
  .slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
  }
  /* #title {
    background-image: url("https://lorempixel.com/640/480/abstract/6/");
    z-index:2;
  } */
  .btn{
    background-color: rgb(240, 219, 101);
    padding: 10px;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
    
  }
  button:hover{
    color: red;
    background-color: bisque;
  }
  .slide:nth-child(2n) .title {
    margin-left: auto;
    margin-right: 0;
  }
  #slide4{
      background-color: black;
      color: aqua;
  }
  #slide1{
      background-color: rgb(176, 241, 220);
  }
  #slide2{
    background-color: rgb(248, 189, 250);
}
#slide3{
    background-color: rgb(236, 250, 174);
}
  